html, body {
  margin: 0px;
  padding: 0px;
  background: rgba(0, 0, 0,1);
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 105px;
  padding-left: 100px;
  padding-right: 100px;
  background: rgba(0, 0, 0, 0.6);
}
ul {
  list-style-image: url('../Assets/images/playIcon.png');
}
li {
  text-align: left;
}
.whiteBox {
  background-color:rgba(255, 255, 255, 0.6);
}

.blueCard
{
  min-height:400px;
}
.blueBox {
  background-color: rgba(13, 31, 53,1);
  margin-left: 100px;
  margin-right: 100px;
  margin : 20px;
  padding: 20px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
  border: 0px solid rgb(199, 165, 102);
  border-left-width: 8px;
}

.mainContent {
  text-align: center;
  position: relative;
  width: 100%;
  background: url('../Assets/images/background.png');
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.inner {
  min-height: 600px;
  padding-top: 105px;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
}

.box-title-text {
  color: #e8e8e8;
  line-height: 1.1;
  margin: 10px 0 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 26px;
  font-family: 'OrbitronBold', sans-serif;
}

.title-text1 {
  color: #e8e8e8;
  line-height: 1.1;
  margin: 10px 0 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 75px;
  font-family: 'agencyBold', sans-serif;
}

.title-text2 {
  color: #e8e8e8;
  line-height: 1.1;
  margin: 10px 0 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 42px;
  font-family: 'agencyBold', sans-serif;
}

.title-text3 {
  color: #e8e8e8;
  line-height: 1.1;
  margin: 10px 0 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  font-family: 'agencyBold', sans-serif;
}

.flashCard-text {
  color: #e8e8e8;
  line-height: 1.1;
  margin: 10px 0 0;
  padding: 0;
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  font-family: sans-serif;
}

a, a:hover, .bold-link-text {
  color: #e8e8e8;
  line-height: 1.1;
  margin: 10px 0 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.bold-text {
  color: #e8e8e8;
  line-height: 2;
  margin: 10px 0 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.phone-number-text {
  color: rgb(86, 166, 221);
}

.basic-text {
  color: #e8e8e8;
  line-height: 1.1;
  margin: 10px 0 0;
  padding: 0;
  text-align: bottom;
  font-weight: 300;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

/* FORMS */
.form-control
{
  color: #000000;
  line-height: 1.1;
  margin: 10px 0 0;
  padding: 5px;
  font-weight: bold;
  font-size: 24px;
  font-family: 'agencyBold', sans-serif;
}

.form-check {
  margin: auto;
  text-align: left;
  margin-left: 50px;
  padding: 5px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.blueBackground
{
  display: inline-block;
  width: 105px;
  height: 105px;
  background-color: rgb(14,24,45,1);
}

/* BUTTONS */
.button-menu-image {
  transition: all 0.1s ease-in-out;
  content: "";
  width: 90px;
  height: 90px;
  display: inline-block;
  background-color: transparent;
   /* rgb(14,24,45); */
  background-position : center center;
  background-repeat:no-repeat;
  background-image : url("../Assets/images/menuIcon.png");
}
.button-menu-image:hover {
  transform: scale(1.1);
}

.button-submit-image {
  transition: all 0.1s ease-in-out;
  content: "";
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: transparent;
  background-position : center center;
  background-repeat:no-repeat;
  background-image : url("../Assets/images/submitIcon_03.png");
  
}
.button-submit-image:hover {
  transform: scale(1.1);
}

.button-submit-small-image {
  transition: all 0.1s ease-in-out;
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: transparent;
  background-position : center center;
  background-repeat:no-repeat;
  background-image : url("../Assets/images/submitIcon_small.png");
  
}
.button-submit-small-image:hover {
  transform: scale(1.1);
}

/* FONTS */
@font-face {
  font-family: MyriadPro;
  src: url('../Assets/fonts/MyriadPro-Regular.otf');
  font-weight: bold;
}
@font-face {
  font-family: arialn;
  src: url('../Assets/fonts/ARIALN.TTF');
  font-weight: bold;
}
@font-face {
  font-family: agencyBold;
  src: url('../Assets/fonts/AGENCYB.TTF');
  font-weight: bold;
}
@font-face {
  font-family: agencyReg;
  src: url('../Assets/fonts/AGENCYR.TTF');
  font-weight: bold;
}