<div class="row col-12 justify-content-md-center p-0 m-0 whiteBox"
        ng-app="mainApp" 
        ng-controller="FlashCardController">

        <!-- Flash cards -->
                
        <div class="col-10 m-3 align-left contentWhiteBox shadow" >
                <div class="row">
                        <div class="col-2 m-0 p-0">
                                <img src="Assets/images/flashcardsIcon-black.png" width="100px;"/>
                        </div>
                        <div class="col-10 p=3">
                                <span class="row title-black-text3">Question :</span>
                                <p class="row flashCard-text">
                                        {{flashCards[currentFlashcardQuestion].question}}
                                </p>
                                <span class="row title-black-text3 mt-5">Answers :</span>

                                <div ng-repeat="answer in flashCards[currentFlashcardQuestion].answers"
                                        ng-click="FlashCardSelected(thierAnswer)">
                                        <div class="form-check" id="flashCardAnswers">
                                                <input class="form-check-input" 
                                                        ng-model="thierAnswer"
                                                        ng-value="$index+1"
                                                        type="radio" 
                                                        name="answerRadios" 
                                                        id="answerRadios" 
                                                        value="option">
                                                <label class="form-check-label" for="exampleRadios1">
                                                        {{answer}}
                                                </label>
                                        </div>
                                </div>  
                                <button class="btn btn-sm btn-primary m-3" 
                                type="button"
                                ng-click="SubmitFlashCard(flashCards[currentFlashcardQuestion].correctAnswer)">Submit</button>
                                <div class="row">
                                                {{flashCards.selectionResponse}}
                                </div>
                                <button class="btn btn-sm btn-primary m-3" 
                                type="button"
                                ng-click="NextFlashCard(-1)">Prev</button>
                                <button class="btn btn-sm btn-primary m-3" 
                                type="button"
                                ng-click="NextFlashCard(1)">Next</button>
                                                               
                        </div>
                        
                </div>
        </div>
</div>