<div class="row col-12 justify-content-md-center m-0 contentWhiteBox innerWithHeader"
        ng-app="mainApp" 
        ng-controller="FlashCardController">

        <!-- Flash cards -->
                
        <div class="row col-12 p-3">
                <div class="col-2 m-0 p-0">
                        <img src="Assets/images/flashcardsIcon-black.png" width="100px;"/>
                </div>

                <div class="row col-10">
                        <div class="col-1 mt-auto mb-auto">
                                <button class="btn button-nav-left-image" 
                                type="submit"
                                alt="prev"
                                ng-disabled="currentFlashcard <= 0"
                                ng-click="nextCard(-1)"></button>
                        </div>
                        
                        <div class="col-10">
                                <div class="flip col-10">
                                        <div class="card" ng-class="{'flipped':flashCardisFlipped}">
                                                <div class="face front flash-card-box shadow p-3">
                                                        <span class="row title-black-text3">Question {{flashCards[currentFlashcard].paragraph}}:</span>
                                                        <p class="row flashCard-text">
                                                                {{flashCards[currentFlashcard].question}}
                                                        </p>
                                                        <span class="row m-3 pl-5">Level : {{flashCards[currentFlashcard].level}}</span>
                                                </div>
                                                <div class="face back flash-card-box shadow p-3">
                                                        <span class="row title-black-text3">Answer :</span>
                                                        <p class="row flashCard-text">
                                                                {{flashCards[currentFlashcard].answer}}
                                                        </p>
                                                </div>
                                        </div>
                                </div>

                                <div class="row justify-content-md-center p-3">
                                        <div class="title-black-text3 text-nowrap clickBox" ng-click="flipCard()">
                                                Check Your Knowledge
                                                <button class="btn button-nav-right-image ml-2" 
                                                type="submit"
                                                alt="check knowlege"
                                                ></button>
                                        </div>
                                </div>
                        </div>
                        <div class="col-1 mt-auto mb-auto">
                                <button class="btn button-nav-right-image" 
                                type="submit"
                                ng-disabled="currentFlashcard >= (maxFlashCards-1)"
                                alt="next"
                                ng-click="nextCard(1)"></button>
                        </div>
                </div>
        </div>
</div>