<div class="row col-12 w-100 justify-content-md-center p-4">
    <span class="col-0 title-text1">Department of the Air Force {{version}}</span>
    <div ng-if="user.userLoggedIn" class="ml-auto mt-auto btn-group row-0" role="group" >
            <button class="btn btn-sm btn-secondary m-3" 
                    type="button"
                    ng-click="">Profile</button>
            <button class="btn btn-sm btn-secondary m-3" 
                    type="button"
                    ng-click="">Help</button>
            <button class="btn btn-sm btn-primary m-3" 
                    type="button"
                    ng-click="logout()">Logout</button>
    </div>
</div>



