<div class="sticky-top m-0 p-0">
    <div ng-if="user.userLoggedIn">
        <div class="row m-0 p-0">
            <div class="row col-10 m-0 p-0">
                <div class="blueBackground">
                    <button class="btn button-menu-image m-2" 
                    type="submit"
                    alt="Menu"
                    ng-click="navigateToView('home')"></button>
                </div>
                <div class="">
                    <img src="/Assets/images/{{ranks[user.userRankID].iconFile}}" alt="Rank Icon" height="100px;">
                    <span id="viewTitleSpan" class="title-text3 align-middle pl-3">MY DASHBOARD - {{user.userName}}</span>
                </div>
            </div>
            <div class="col-2 pt-1">
                <img src="/Assets/images/af-logo-text.png" height="90px" class="">
            </div>
        </div>
    </div>

    <div ng-if="!user.userLoggedIn">
    </div>
</div>