<div class="row col-12 justify-content-md-center m-0 whiteBox innerWithHeader">
        <div class="blueBox row col-10 p-0 shadow">
                <div class="col-3 mr-auto text-nowrap">
                        <img src="/Assets/images/planeIcon.png" alt="">
                        <span class="title-text4">My Progress</span>
                        <span class="title-text4"><span style="color:green"> ||||||</span>||| {{user.userProgress}}%</span>
                </div>
                <div class="col-5 justify-content-md-center ml-auto mt-auto mb-auto title-text4 text-nowrap">
                        AFH1 - continue where you left off
                        <button class="btn button-submit-small-image ml-2" 
                        type="submit"
                        alt="Continue"
                        ng-click=""></button>
                </div>
        </div>

        <div class="row col-12">
                <div class="col blueBox blueCard shadow clickBox" 
                        ng-click="navigateToView('learningtools')">
                        <div class="col">
                                <div class="row-0">
                                        <img src="/Assets/images/learningToolsIcon.png" width="100"/>
                                </div>
                                <div class="row-0 box-title-text">Learning Tools</div>
                                <div class="row justify-content-md-center pt-3 ">
                                        <ul style="text-align: left">
                                                <li><a class="listItem-Button" href="" ng-click="navigateToView('')">Study Guide</a></li>
                                                <li><a class="listItem-Button" href="" ng-click="navigateToView('')">Audio Book</a></li>
                                                <li><a class="listItem-Button" href="" ng-click="navigateToView('flashcards')">Flashcards</a></li>
                                                <li><a class="listItem-Button" href="" ng-click="navigateToView('')">Practice Test</a></li>
                                                <li><a class="listItem-Button" href="" ng-click="navigateToView('')">Game</a></li>
                                        </ul>
                                </div>
                        </div>
                </div>
                <div class="col blueBox blueCard shadow " >
                        <div class="col">
                                <div class="row-0">
                                        <img src="/Assets/images/savedContentIcon.png" width="100"/>
                                </div>
                                <div class="row-0 box-title-text">
                                        Saved Content</div>
                                <div class="row justify-content-md-center pt-3">
                                        <ul style="text-align: left">
                                                <li><a class="listItem-Button" href="" ng-click="navigateToView('')">Bookmarks</a></li>
                                                <li><a class="listItem-Button" href="" ng-click="navigateToView('')">Notes</a></li>
                                                <li><a class="listItem-Button" href="" ng-click="navigateToView('')">Flashcards</a></li>
                                                <li><a class="listItem-Button" href="" ng-click="navigateToView('')">Practice Test Questions</a></li>
                                        </ul>
                                </div>
                        </div>
                </div>
                <div class="col blueBox blueCard shadow clickBox"
                        ng-click="navigateToView('resources')">
                        <div class="col">
                                <div class="row-0">
                                        <img src="/Assets/images/researchIcon.png" width="100"/>
                                </div>
                                <div class="row-0 box-title-text">
                                        Resources</div>
                                <div class="row justify-content-md-center pt-3">
                                        <ul style="text-align: left">
                                                <li><a class="listItem-Button" href="" ng-click="navigateToView('')">The Airman Handbook (AHF1)</a></li>
                                                <li><a class="listItem-Button" href="" ng-click="navigateToView('')">Air Force Culture, Air Force Standards (AF1 1-1) The Little Blue Book </a></li>
                                                <li><a class="listItem-Button" href="" ng-click="navigateToView('')">Personnel, The Enlisted Force Structure (AF1 36-2618) The Little Brown Book</a></li>
                                        </ul>
                                </div>
                        </div>
        
                </div>

        </div>
        <div class="col-12">
        <p>Lorem ipsum dolor sit amet, id nunc vestibulum tristique justo, velit aliquet pretium aliquam molestie ante praesent, ornare proin dis id, integer id, eu non. Sem elit luctus vitae mauris sed sagittis, arcu tristique, accumsan ultricies, purus sem orci ornare soluta, ac consequat odio. Metus et orci ac, non at sed, risus ultrices in mattis leo faucibus, malesuada dolor ante urna nec libero aliquam. Senectus nec dui quam dictum, phasellus tincidunt rhoncus tellus, aenean quam rhoncus dolor nam. Nulla lacus consequat purus luctus eu.

                Donec est erat ac, justo mattis adipiscing magnis, dui cras. Ullamcorper ullamcorper, duis ut tellus metus, leo nulla dolor ultrices ligula, ipsum integer duis ipsum maecenas. Aliquam arcu vestibulum, in wisi interdum velit. Velit arcu, wisi nulla libero accusamus orci aptent maecenas, amet vitae, pharetra enim, quis placerat sed. Aliquam elementum vestibulum dolor amet consectetuer. Nam luctus nunc dapibus vulputate pellentesque, cursus mattis varius enim metus integer, rutrum pede sapien. Aliquam a magna at neque felis, urna phasellus donec. Eget imperdiet id, sociosqu ut eu integer, sollicitudin dictum quam, lorem felis mauris erat, auctor dolor hendrerit dolor.</p>  
        </div>

</div>