<div class="row col-12 justify-content-md-center m-0 whiteBox innerWithHeader">
    <div class="row col-12">
        <div class="col blueBox blueCard shadow justify-content-md-center" >
            <div class="col justify-content-md-center pt-5">
                <div class="row-0 rankTitle-box">
                        <img src="/Assets/images/studyGuideIcon.png" width="100"/>
                </div>
                <div class="rankTitle-box">
                        <div class="row-0 learningCardTitle-text">Study Guide</div>
                </div>
            </div>
        </div>
            
        <div class="col blueBox blueCard shadow justify-content-md-center" >
            <div class="col justify-content-md-center pt-5">
                <div class="row-0 rankTitle-box">
                        <img src="/Assets/images/audioBookIcon.png" width="100"/>
                </div>
                <div class="rankTitle-box">
                        <div class="row-0 learningCardTitle-text">Audio Book</div>
                </div>
            </div>
        </div>

        <div class="col blueBox blueCard shadow justify-content-md-center clickBox"
                ng-click="navigateToView('flashcardselection')" >
                <div class="col justify-content-md-center pt-5">
                    <div class="row-0 rankTitle-box">
                            <img src="/Assets/images/flashcardsIcon.png" width="100"/>
                    </div>
                    <div class="rankTitle-box">
                            <div class="row-0 learningCardTitle-text">Flash Cards</div>
                    </div>
                </div>
        </div>

        <div class="col blueBox blueCard shadow justify-content-md-center clickBox"
                ng-click="navigateToView('practicetest')" >
                <div class="col justify-content-md-center pt-5">
                    <div class="row-0 rankTitle-box">
                            <img src="/Assets/images/practiceTestIcon.png" width="100"/>
                    </div>
                    <div class="rankTitle-box">
                            <div class="row-0 learningCardTitle-text">Practice Test</div>
                    </div>
                </div>
        </div>

        <div class="col blueBox blueCard shadow justify-content-md-center " >
                <div class="col justify-content-md-center pt-5">
                    <div class="row-0 rankTitle-box">
                            <img src="/Assets/images/gameIcon.png" width="100"/>
                    </div>
                    <div class="rankTitle-box">
                            <div class="row-0 learningCardTitle-text">Game</div>
                    </div>
                </div>
        </div>
    </div>
</div>