<div class="row col-12 w-100 m-0 p-5">
    <div class="row col-12 w-100 justify-content-md-center">
        <div class="row m-auto pb-3">
            <div class="col-12">
                <img src="Assets/images/af-logo-text.png"/>
            </div>
        </div>
        <div class="row m-auto col-12 p-1 justify-content-md-center">
                <span class="title-text1">Pursue your greatness</span>
        </div>
        <div class="row m-auto col-12 p-1 justify-content-md-center">
                <span class="title-text2">The Air Force handbook - E-study guide</span>
        </div>
        <div class="row m-auto col-12 justify-content-md-center">
        <form class="form-signin">
                <label for="inputEmail" class="sr-only" >Email address</label>
                <input type="email" 
                    id="inputEmail" 
                    class="form-control" 
                    ng-model="thisUser.userEmail"
                    placeholder="Email address" 
                    title="Email address"
                    required 
                    autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" 
                    ng-model="thisUser.userPassword"
                    id="inputPassword" 
                    class="form-control" 
                    placeholder="Password" required>
                
                <div class="row justify-content-md-center">
                    <a href="" class="bold-link-text" ng-click="navigateToView('register')">
                        Create a new account
                    </a>
                </div>
                <div class="row justify-content-md-center">
                    <a href="" class="bold-link-text" ng-click="navigateToView('forgotPassword')">
                        I forgot my PASSWORD
                    </a>
                </div>

                <div class="row m-3">
                    <div class="col-12">
                        <button class="btn button-submit-image"
                            ng-class="{'btn button-submit-image-spin': loginLoading}"
                            type="submit"
                            ng-disabled="loginLoading"
                            alt="Sign In"
                            ng-click="authenticateUser(thisUser)"></button>
                    </div>
                </div>
        </form>

        <div class="row">
                <div class="col-12 bold-text">
                    If you need assistance, call USALearning Help Desk at
                    <span class="phone-number-text"> 202-555-5555 </span>
                     within the  Washington, DC area or toll free at 
                     <span class="phone-number-text"> 833-555-5555 </span>
                     (Weekdays 8:30AM to 6:00PM Eastern Time, except holidays).
                </div>
            </div>
                      <div class="basicText m-auto" ng-click="skipLogin()">
            {{version}}
          </div>
    </div>
</div>