<div class="row col-12 w-100 m-0 p-5">
    <div class="row col-12 w-100 justify-content-md-center">
        <div class="row m-auto pb-3">
            <div class="col-12">
                <img src="Assets/images/af-logo-text.png"/>
            </div>
        </div>
        <div class="row m-auto col-12 p-1 justify-content-md-center">
                <span class="title-text2">Registration</span>
        </div>
        <div class="row m-auto col-12 justify-content-md-center">
        <form class="form-signin">
                <label for="inputEmail" class="sr-only" >Email address</label>
                <input type="email" 
                    id="inputEmail" 
                    class="form-control" 
                    ng-model="thisUser.userEmail"
                    placeholder="Email address" 
                    title="Use email@email.com"
                    required 
                    autofocus>
                <label for="inputUsername" class="sr-only">User Name</label>
                <input type="text" 
                    ng-model="thisUser.userName"
                    id="inputUsername" 
                    class="form-control" 
                    placeholder="User Name"
                    required>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" 
                    ng-model="thisUser.userPassword"
                    id="inputPassword" 
                    class="form-control" 
                    placeholder="Password" required>
                <label for="inputPassword2" class="sr-only">Confirm Password</label>
                <input type="password" 
                    ng-model="thisUser.userPassword2"
                    ng-change="registerOnPassChange(thisUser)"
                    id="inputPassword2" 
                    class="form-control" 
                    placeholder="Confirm Password" required>
                

                <div class="row m-3">
                    <div class="col-12">
                        <button class="btn button-submit-image" 
                            type="submit"
                            alt="Register"
                            ng-click="registerUser(thisUser)"></button>
                    </div>
                </div>
        </form>

        <div class="row">
                <div class="col-12 bold-text">
                    If you need assistance, call USALearning Help Desk at
                    <span class="phone-number-text"> 202-555-5555 </span>
                     within the  Washington, DC area or toll free at 
                     <span class="phone-number-text"> 833-555-5555 </span>
                     (Weekdays 8:30AM to 6:00PM Eastern Time, except holidays).
                </div>
            </div>
    </div>
</div>