<div class="row col-12 justify-content-md-center m-0 whiteBox innerWithHeader">
    <div class="row col-12">
        <div class="col blueBox blueCard shadow justify-content-md-center clickBox" 
            ng-click="navigateToView('handbook')">
            <div class="col justify-content-md-center pt-5">
                <div class="row-0 rankTitle-box">
                    <img src="/Assets/images/handBookcon.png" width="100"/>
                </div>
                <div class="rankTitle-box">
                    <div class="row-0 learningCardTitle-text">AFH-1 </div>
                    <div class="row-0 learningCardTitle-text">The Air Force Handbook 1</div>
                </div>
            </div>
        </div>
            
        <div class="col blueBox blueCard shadow justify-content-md-center" 
            ng-click="" >
            <div class="col justify-content-md-center pt-5">
                <div class="row-0 rankTitle-box">
                    <img src="/Assets/images/blueBookIcon.png" width="100"/>
                </div>
                <div class="rankTitle-box">
                    <div class="row-0 learningCardTitle-text">AFI 1-1 - Air Force Culture, Air Force Standards</div>
                    <div class="row-0 title-reg-text">The Little Blue Book</div>
                </div>
            </div>
        </div>
        
        <div class="col blueBox blueCard shadow justify-content-md-center"
                ng-click="" >
            <div class="col justify-content-md-center pt-5">
                <div class="row-0 rankTitle-box">
                    <img src="/Assets/images/brownBookIcon.png" width="100"/>
                </div>
                <div class="rankTitle-box">
                    <div class="row-0 learningCardTitle-text">AFI 36-2618 - Personnel, The Enlisted Force Structure</div>
                    <div class="row-0 title-reg-text">The Little Brown Book</div>
                </div>
            </div>
        </div>
    </div>
</div>