<div class="row col-12 justify-content-md-center m-0 fullwhiteBox innerWithHeader"
	ng-app="mainApp" 
	ng-controller="SavedContentController">

	<div class="row p-0 m-0 col-12">

		<!-- chapter -->
		<div class="col-3 m-0 p-1 testBorder"
			ng-repeat="chapter in chapters">
			<div class="row m-0 p-0 chapter-box clickBox"
				ng-click="openChaperSection($index)">
				<div class="col-0 m-0 p-0">
					<div class="col-0 chapter-title">{{chapter.name}}</div>
					<div class="col-0 chapter-subtitle">{{chapter.desc}}</div>
				</div>
				<div id="triangle0" class="col-0 chapter-triangle mr-0 p-0 ml-auto mt-auto mb-auto"
					ng-class="{'chapter-triangle-down': chapterSectionOpen[$index]}"></div>
			</div>
			
			<div class="section-box" 
				tabindex="-1"
				id="section{{$index}}"
				ng-show="chapterSectionOpen[$index]">

				<!-- section -->
				<div class="section-text row"
					ng-repeat="sect in chapter.sections">
					<div class="col-3 m-0 text-nowrap">
						<img class="clickBox"
							 ng-click="removeBookmark(sect.sectIndx)"
							 src="/Assets/images/savedContentDeleteIcon.png">
						<span>{{sect.section}}</span>
					</div>
					<div class="col-8 m-0 p-0">
							{{sect.desc}}
					</div>
				</div>
				<!-- ------ -->
			</div>
			
				<div class="row horLine" style="position: absolute; z-index: 1; width: 3000px; top: 100px; left:0px" ng-if="$index/4 == Math.round($index/4)">
					
				</div>
		</div>
		<!-- ---- -->
				

	</div>
</div>
