<div class="row col-12 justify-content-md-center m-0 fullwhiteBox innerWithHeader"
	ng-app="mainApp" 
	ng-controller="SavedContentController">

	<div class="row p-0 m-0 col-12">

		<!-- item -->
		<div class="col-2 m-0 p-2">
			<div class="row m-0 p-0 chapter-box clickBox"
				data-toggle="collapse"
				data-target="#section0"
				aria-expanded="false"
				aria-controls="section0"
				ng-click="openChaperSection(0)">
				<div class="col-0 m-0 p-0">
					<div class="col-0 chapter-title">Chapter 1</div>
					<div class="col-0 chapter-subtitle">Air Force Heritage</div>
				</div>
				<div id="triangle0" class="col-0 chapter-triangle ml-auto mt-auto mb-auto"
					ng-class="{'chapter-triangle-down': chapterSectionOpen[0]}"></div>
			</div>
			<div class="section-box collapse" id="section0">
				<div class="section-text row">
					<div class="col-3 text-nowrap">
						<img src="/Assets/images/savedContentDeleteIcon.png">
						<span>1.3.</span>
					</div>
					<div class="col-8 m-0 p-0">
						The Early Days of the United States Army Aviation (1907-1917)
					</div>
				</div>

				<div class="section-text row">
					<div class="col-3 text-nowrap">
						<img src="/Assets/images/savedContentDeleteIcon.png">
						<span>1.3.</span>
					</div>
					<div class="col-8 m-0 p-0">
						The Early Days of the United States Army Aviation (1907-1917)
					</div>
				</div>
				<div class="section-text row">
					<div class="col-3 text-nowrap">
						<img src="/Assets/images/savedContentDeleteIcon.png">
						<span>1.3.</span>
					</div>
					<div class="col-8 m-0 p-0">
						The Early Days of the United States Army Aviation (1907-1917)
					</div>
				</div>
			</div>
		</div>
		<!-- ---- -->
		<!-- item -->
		<div class="col-2 m-0 p-2">
			<div class="row m-0 p-0 chapter-box clickBox"
				data-toggle="collapse"
				data-target="#section1"
				aria-expanded="false"
				aria-controls="section1"
				ng-click="openChaperSection(1)">
				<div class="col-0 m-0 p-0">
					<div class="col-0 chapter-title">Chapter 1</div>
					<div class="col-0 chapter-subtitle">Air Force Heritage</div>
				</div>
				<div id="triangle0" class="col-0 chapter-triangle ml-auto mt-auto mb-auto"
					ng-class="{'chapter-triangle-down': chapterSectionOpen[1]}"></div>
			</div>
			<div class="section-box collapse" id="section1">
				<div class="section-text row">
					<div class="col-3 text-nowrap">
						<img src="/Assets/images/savedContentDeleteIcon.png">
						<span>1.3.</span>
					</div>
					<div class="col-8 m-0 p-0">
						The Early Days of the United States Army Aviation (1907-1917)
					</div>
				</div>

				<div class="section-text row">
					<div class="col-3 text-nowrap">
						<img src="/Assets/images/savedContentDeleteIcon.png">
						<span>1.3.</span>
					</div>
					<div class="col-8 m-0 p-0">
						The Early Days of the United States Army Aviation (1907-1917)
					</div>
				</div>
				<div class="section-text row">
					<div class="col-3 text-nowrap">
						<img src="/Assets/images/savedContentDeleteIcon.png">
						<span>1.3.</span>
					</div>
					<div class="col-8 m-0 p-0">
						The Early Days of the United States Army Aviation (1907-1917)
					</div>
				</div>
			</div>
		</div>
		<!-- ---- -->		

	</div>
</div>
